<body class="contact">
  <div id="page-wrapper">

    <!-- Header -->
      <header id="header">
        <h1 id="logo"><a>Bazzaoui <span>chaymae</span></a></h1>
        <nav id="nav">
          <ul>
            <li class="current"><%= link_to  "Welcome", root_path, class: "button special" %></li>
          </ul>
        </nav>
      </header>

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-mobile"></span>
          <%= image_tag "thankyou.png", style: "margin: 20px 0;" %>
          <h2>Message sent!</h2>
          <p>Thank you for contacting me</p>

        </header>
      </article>
  </div>
</body>
