<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HURRAY ! someone called "<%= @contact.name %>" just contacted you from your personal website !</h1>
    <p>He left a message with subject : <%= @contact.subject %><br/>
      his email is : <%= @contact.email %> <br/>
      he wanted to say : <%= @contact.message %><br/>
    </p>
  </body>
</html>
